* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  max-width: 1440px;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  font-size: large;
  background-color: lightblue;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
nav h1{
    background-image: linear-gradient(to right, #ff105f, #ffad06);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
nav li {
  list-style: none;
  margin: 0 20px;
  display: inline-block;
}
.nav-btn button {
  width: max-content;
  padding: 1em;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}
.nav-btn button:hover{
    cursor: pointer;
    background-color: #ff105f;
    color: white;
}
nav a{
    text-decoration: none;
    color: inherit;
}

.sec-1{
  display: flex;
  flex-direction: row;
  margin: 8em auto;
}
.hero-left {
  padding: 3em;
  width: 50%;
  margin: auto 0;
}
.hero-right {
  padding: 3em;
  width: 50%;
}
.hero-right img {
  width: 100%;
  border-radius: 10px;
}

.sec-2{
    text-align: center;
    margin: 8em auto;
    width: calc(100% - 300px);
}
.sec-2 p{
    margin: 3em auto;
    line-height: 2em;
    color: gray;
}
.sec-2 img{
    width: 100%;
    border-radius: 10px;
}

.sec-3{
    display: flex;
    justify-content: center;
    gap: 20em;
}
.sec-3 li{
    line-height: 3em;
}

.sec-4{
    margin: 3em auto;
    text-align: center;
  }
  .sec-41{
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .sec-41 li:hover{
    cursor: pointer;
    color: red;
  }

footer{
  padding: 2em;
  font-weight: 900;
  text-align: center;
}
@media (max-width: 768px) {
  nav ul,
  .nav-btn {
    visibility: hidden;
  }
  main {
    flex-direction: column;
  }
  .hero-left,
  .hero-right {
    width: auto;
  }
}
