
#accordion, #accordion-pop{
    color: white;
    margin: auto;
    text-align: left;
    background-color: coral;
    padding: 0.75em;
    border-radius: 5px;
    width: calc(100% - 60%);
}

#accordion-pop{
    margin-top: 5px;
    border-radius: 0;
}
